.contactSection {
  max-width: 607px;
  padding: 25px 40px 75px 40px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .contactSection {
    padding: 25px 20px 95px 20px;
  }
}
.contactTitle {
  color: #161616;
  text-align: center;
  font-family: 'TWK700';
  font-size: 55px;
  line-height: 1.25;
  position: relative;
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .contactTitle {
    font-size: 35px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
}
.contactIcon {
  display: block;
  width: 75px;
  height: 75px;
  background-image: url('../../icons/contactIcon.svg');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .contactIcon {
    width: 50px;
    height: 50px;
  }
}
.contactText {
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .contactText {
    margin-bottom: 25px;
  }
}
.contactTitle:after {
}

.contactForm {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #efefef;
  background: #fff;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  position: relative;
}

.contactFormBlock {
  position: relative;
}
.contactFormBlock label {
  position: absolute;
  top: 5px;
  left: 15px;
  color: #161616;
  font-family: 'TWK700';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.5%; /* 14.46px */
}
.contactFormBlock input {
  display: flex;
  width: 100%;
  padding: 23px 15px 5px 15px;
  border-radius: 12px;
  height: 52px;
  border: 1px solid #efefef;

  background: #fcfcfc;
  color: #161616;
  font-family: 'TWK700';
  font-size: 20px;
  line-height: 1.25;
}
.contactFormBlock input::placeholder {
  color: rgba(22, 22, 22, 0.25);
}

.contactFormBlock textarea {
  display: flex;
  width: 100%;
  padding: 23px 15px 5px 15px;
  border-radius: 12px;
  height: 200px;
  border: 1px solid #efefef;

  background: #fcfcfc;
  color: #161616;
  font-family: 'TWK700';
  font-size: 20px;
  line-height: 1.25;
  resize: none;
}
.contactFormBlock textarea::placeholder {
  color: rgba(22, 22, 22, 0.25);
}

.contactSubmit {
  border-radius: 12px;
  background: #f948b4;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1),
    0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: 'TWK700';
  font-size: 18px;
  line-height: 1.25;
  padding: 20px 30px;
  width: 100%;
  overflow: hidden;
}
.ratingWrap {
}
.contactSpan {
  color: #161616;
  font-family: 'TWK700';
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 4px;
}

.contactThank {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #efefef;
  background: rgba(162, 236, 0, 0.25);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  color: #00c82f;
  text-align: center;
  margin-bottom: 20px;
}
.heroLink {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  padding: 20px 30px;
  color: #fff;
  font-family: 'TWK700';
  font-size: 25px;
  line-height: 1.25;
  border-radius: 12px;
  background: #f948b4;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
}

.linkText {
  z-index: 1;
  color: #fff;
  font-family: 'TWK700';
  font-size: 25px;
  font-weight: 700;
  line-height: 1.25;
}

.decor {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.decorItem {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  transform: translate(-100%);
  will-change: transform;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
