RewriteEngine On

# Исключаем api.php из перенаправления
RewriteCond %{REQUEST_URI} !^/api\.php$

# Исключаем папку build\ из перенаправления
RewriteCond %{REQUEST_URI} !^/build/

# Перенаправляем все остальные запросы на index.html внутри папки build
RewriteRule ^.*$ /build/index.html [L]