.buyFollowers {
  padding-top: 25px;
  margin-bottom: 75px;
}

.buyFollowersTitle {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  flex-wrap: wrap;
  color: #161616;
  text-align: center;
  font-family: 'TWK700';
  font-size: 45px;
  line-height: 1.25;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 543px;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .buyFollowersTitle {
    font-size: 30px;
  }
}
.buyFollowersImg {
  display: block;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .buyFollowersImg {
    width: 40px;
    height: 40px;
  }
}

.buyFollowersText {
  text-align: center;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .buyFollowersText {
    margin-bottom: 20px;
  }
}
.buyFollowersBenefits {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .buyFollowersBenefits {
    max-width: 355px;
    margin: 0 auto;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.buyFollowersWrapper {
  max-width: 490px;
  padding: 0px 20px;
  margin: 0 auto;
}

.buyFollowersBenefit {
  color: #161616;
  font-family: 'TWK500';
  font-size: 13px;
  font-weight: 500;
  padding-left: 15px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .buyFollowersBenefit {
    color: #0e2a30;
    font-size: 10px;
    line-height: 1;
    padding-left: 11px;
  }
}

.buyFollowersBenefit::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 10px;
  height: 10px;
  background-image: url('../../icons/checkbox.svg');
  background-position: center;
}
@media screen and (max-width: 768px) {
  .buyFollowersBenefit::before {
    color: #0e2a30;
    width: 8px;
    height: 8px;
  }
}
.deliveryBlock {
}
.passwordBlock {
}
.buyFollowersCustomWrap {
  display: flex;
}
.buyFollowersCustomLink {
  display: inline-flex;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 100px;
  border: 2px solid #fc5d1f;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  color: #fc5d1f;
  font-family: 'TWK500';
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .buyFollowersCustomLink {
    padding: 9px 10px;
    color: #fc5d1f;
    margin-bottom: 13px;
  }
}

.buyFollowersQuantityBlock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 17px;
  margin-bottom: 25px;
}
.buyFollowersQuantity {
  display: block;
  width: 100%;
  cursor: pointer;
}
.quantity {
  width: 100%;
  padding: 10px 0px;
  border-radius: 15px 15px 0px 0px;
  background: #fadda0;
  text-align: center;
  color: #fc5d1f;
  font-family: 'TWK700';
  font-size: 25px;
  line-height: 1.25;
}

@media screen and (max-width: 768px) {
  .quantity {
    color: #fc5d1f;
    padding: 8px 0px;
    font-size: 20px;
    line-height: 1.25;
  }
}
.discount {
  width: 100%;
  padding: 14px 0px;
  border-radius: 0px 0px 15px 15px;
  background: #fafbff;
  text-align: center;
  color: #fc5d1f;

  font-family: 'TWK500';
  font-size: 18px;
  line-height: 1.25;
}

@media screen and (max-width: 768px) {
  .discount {
    font-size: 14px;
  }
}
.data {
  display: flex;
  max-width: 100px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: #fafbff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
}
.active .buyFollowersQuantity {
  outline: 2px solid #fc5d1f;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.active .buyFollowersQuantity .quantity {
  outline: 2px solid #fc5d1f;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  background-color: #fc5d1f;
  color: #fff;
  font-family: 'TWK700';
  font-size: 25px;
  line-height: 1.25;
}

@media screen and (max-width: 768px) {
  .active .buyFollowersQuantity .quantity {
    font-size: 20px;
  }
}
.active .buyFollowersQuantity .discount {
  color: #161616;
  font-family: 'TWK500';
  font-size: 18px;
  line-height: 1.21;
}

@media screen and (max-width: 768px) {
  .active .buyFollowersQuantity .discount {
    font-size: 14px;
  }
}
.priceBlock {
  display: flex;
  justify-content: space-between;
}
.priceContent {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.priceWrap {
  display: flex;
}

.mainPrice {
  color: #161616;
  font-family: 'TWK700';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .mainPrice {
    font-size: 25.162px;
  }
}
.oldPrice {
  color: rgba(22, 22, 22, 0.25);
  font-family: 'TWK700';
  font-size: 18px;
  position: relative;
  height: fit-content;
}

@media screen and (max-width: 768px) {
  .oldPrice {
    font-size: 14px;
  }
}

.oldPrice::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #c5c5c5;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.savingsPrice {
  display: inline-flex;
  border-radius: 100px;
  background: rgba(162, 236, 0, 0.25);
  padding: 3px 5px;
  color: #00c82f;
  font-family: 'TWK700';
  font-size: 18px;
  line-height: 1.21;
}

@media screen and (max-width: 768px) {
  .savingsPrice {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
  }
}
.buyLink {
  padding: 20px 60px;
  border-radius: 12px;
  background: #fc5d1f;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: 'TWK700';
  font-size: 25px;
  line-height: 1.21;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .buyLink {
    padding: 16px 45px;
    font-size: 20px;
    text-align: center;
  }
}
.savings {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .savings {
    color: #161616;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
  }
}

.linkText {
  z-index: 1;
  color: #fff;
  font-family: 'TWK700';
  font-size: 25px;
  font-weight: 700;
  line-height: 1.25;
}

.decor {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.decorItem {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  transform: translate(-100%);
  will-change: transform;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
