.team {
  padding: 75px 40px 75px 40px;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 70px 20px 70px 20px;
  }
}
.teamWrap {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.teamSpan {
  color: #f948b4;
}
.teamText {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.teamBox {
  display: block;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}
.teamBoxContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
  border-radius: 12px;
  border: 1px solid #efefef;
  background: #fff;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

@media screen and (max-width: 895px) {
  .teamBoxContent {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
}

.teamImage {
  display: block;
  width: 80px;
  height: 80px;
}
.teamDescription {
  max-width: 460px;
  text-align: left;
}
@media screen and (max-width: 895px) {
  .teamDescription {
    max-width: unset;
    text-align: center;
  }
}
.teamTitle {
  color: #0e2a30;
  text-align: center;
  font-family: 'TWK700';
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
}

.teamList {
  display: block;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 895px) {
  .teamList {
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 680px) {
  .teamList {
    flex-direction: column;
  }
}

.teamItem {
  padding: 50px 30px;
  border-radius: 12px;
  border: 1px solid #efefef;
  background: #fff;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 895px) {
  .teamItem {
    width: calc((100% - 20px) / 2);
    padding: 20px 30px;
  }
}
@media screen and (max-width: 680px) {
  .teamItem {
    width: 100%;
  }
}

.teamBoxImage {
  margin: 0 auto;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.teamImage1 {
  background-color: #17257e;
}
.teamImage1::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url('../../icons/teamCompoundAlian.svg');
  background-position: center;
  background-size: cover;
}

.teamImage2 {
  background-color: #17257e;
  position: relative;
}
.teamImage2::after {
  content: '';
  position: absolute;
  width: 160px;
  height: 160px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('../../icons/teamCompoundRobot.svg');
  background-position: center;
  background-size: cover;
}
.teamImage3 {
  background-color: #eec706;
  position: relative;
}
.teamImage3::after {
  content: '';
  position: absolute;
  width: 160px;
  height: 160px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('../../icons/teamCompoundMansvg.svg');
  background-position: center;
  background-size: cover;
}
.teamName {
  text-align: center;
  margin-bottom: 10px;
  color: #161616;
  font-family: 'TWK600';
  font-size: 22px;
  line-height: 1.25;
}
.teamText {
  color: #161616;
  font-size: 18px;
  line-height: 1.25;
}
