.orderWrapper {
  display: flex;
  gap: 50px;
  width: 100%;
  padding: 65px 40px 70px 40px;
}

@media screen and (max-width: 768px) {
  .orderWrapper {
    padding: 25px 20px 70px 20px;
  }
}

.order {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  padding: 40px;
  border-radius: 12px;
  border: 1px solid #efefef;

  background: #fff;

  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .order {
    padding: 20px;
  }
}
.orderWrap {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .orderWrap {
    flex-direction: column;
  }
}
.orderFirst {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .orderFirst {
    width: 100%;
  }
}
.orderSecond {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .orderSecond {
    width: 100%;
  }
}
.orderBox {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #efefef;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #fcfcfc;
}
.orderSubtitle {
  color: #181818;
  font-family: 'TWK500';
  font-size: 10px;

  font-weight: 500;
}
.orderTitle {
  color: #181818;
  font-family: 'TWK700';
  font-size: 14px;
  word-wrap: break-word;
}
.orderSuccess {
  width: fit-content;
  border-radius: 6px;
  background: #e8fabf;
  color: #00c82f;
  font-family: 'TWK600';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.084px;
  padding-left: 32px;
  padding-right: 8px;
  position: relative;
}
.orderSuccess::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);

  background-image: url('../../icons/greencheck.svg');
  background-position: center;
}
.orderIncorrect {
  width: fit-content;
  border-radius: 8px;
  background: #fff9c4;
  color: #f57c00;
  font-family: 'TWK600';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.084px;
  padding-left: 16px;
  padding-right: 8px;
  position: relative;
}
.orderIncorrect::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #f57c00;
}
.orderProcessing {
  width: fit-content;
  border-radius: 8px;
  background: rgba(246, 21, 156, 0.2);
  color: #f6159c;
  font-family: 'TWK600';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.084px;
  padding-left: 16px;
  padding-right: 8px;
  position: relative;
}

.orderProcessing::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #f6159c;
}
.orderFail {
  width: fit-content;
  border-radius: 8px;
  background: #ffcdd2;
  color: #c62828;
  font-family: 'TWK600';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.084px;
  padding-left: 16px;
  padding-right: 8px;
  position: relative;
}
.orderFail::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #c62828;
}

.orderPending {
  width: fit-content;
  border-radius: 8px;
  background: #fef9c3;
  color: #713f12;
  font-family: 'TWK600';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.084px;
  padding-left: 16px;
  padding-right: 8px;
  position: relative;
}
.orderPending::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #616161;
}
.orderCancel {
  width: fit-content;
  border-radius: 8px;
  background: #ededed;
  color: #616161;
  font-family: 'TWK600';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.084px;
  padding-left: 16px;
  padding-right: 8px;
  position: relative;
}

.orderCancel::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #616161;
}

.orderBtn {
  margin-top: 25px;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 20px 50px;
  color: #fff;
  font-family: 'TWK600';
  font-size: 18px;
  border-radius: 12px;
  background: #00c82f;
  box-shadow: 0px 1px 2px 0px rgba(139, 139, 139, 0.25);
}
@media screen and (max-width: 500px) {
  .orderBtn {
    width: 100%;
    justify-content: center;
  }
}

.orderIcon {
  display: block;
  width: 16px;
  height: 20px;
  background-image: url('../../icons/orderBtn.svg');
  background-position: center;
  background-size: cover;
}
