.freeViewsSection {
  padding: 0px 40px;
}
@media screen and (max-width: 768px) {
  .freeViewsSection {
    padding: 0px 20px;
  }
}

.freeViews {
  width: 100%;
  padding: 50px 40px;
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 15px;
  background: rgba(162, 236, 0, 0.05);
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .freeViews {
    padding: 25px 25px 150px 25px;
  }
}

.freeViews::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url('../../icons/alien.svg');
  width: 358px;
  height: 333px;
  background-size: cover;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .freeViews::after {
    width: 183px;
    height: 157px;
  }
}

.freeViewsWrap {
  width: 100%;
  max-width: 525px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.freeViewsTitle {
  color: #161616;
  text-align: center;
  font-family: 'TWK700';
  font-size: 45px;
  line-height: 1.25;
}

@media screen and (max-width: 768px) {
  .freeViewsTitle {
    font-size: 25px;
  }
}
.freeViewsSpan {
  color: #00c82f;
}
.freeViewsText {
  color: #161616;
  text-align: center;
  font-size: 18px;
  line-height: 1.25;
}
.freeViewsText span {
  color: #00c82f;
}
.freeViewsForm {
  display: block;
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
}
.freeViewsFormBlock {
  position: relative;
}
.freeViewsFormBlock label {
  position: absolute;
  top: 5px;
  left: 15px;
  color: #161616;
  font-family: 'TWK700';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.5%; /* 14.46px */
}
.freeViewsForm input {
  display: flex;
  width: 100%;
  padding: 23px 15px 5px 15px;
  border-radius: 12px;
  height: 52px;
  border: 1px solid #efefef;
  background: #fff;
  color: rgba(22, 22, 22, 0.25);
  font-family: 'TWK700';
  font-size: 20px;
  line-height: 1.25;
}
.freeViewsButton {
  display: block;
  width: 100%;
  border-radius: 12px;
  background: #00c82f;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: 'TWK700';
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  padding: 20px;
  margin-top: 25px;
}
.FirstBlock {
  margin-bottom: 10px;
}

.linkText {
  z-index: 1;
  color: #fff;
  font-family: 'TWK700';
  font-size: 25px;
  font-weight: 700;
  line-height: 1.25;
}

.decor {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.decorItem {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  transform: translate(-100%);
  will-change: transform;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
