.availableSection {
  max-width: 910px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 75px;
  padding: 0 40px;
}

@media screen and (max-width: 768px) {
  .availableSection {
    padding: 0 20px;
  }
}
.availableTitle {
  color: #161616;
  font-family: 'TWK700';
  font-size: 45px;
  line-height: 1.25;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .availableTitle {
    font-size: 30px;
  }
}

.availableSpan {
  color: #f948b4;
}
.availableText {
  color: #161616;
  text-align: center;
  font-size: 18px;
  line-height: 1.25;
  max-width: 525px;
  margin: 0 auto;
}
.availableLinkBlock {
  display: flex;
  gap: 16px;
  justify-content: center;
}
@media screen and (max-width: 910px) {
  .availableLinkBlock {
    flex-direction: column;
  }
}
.availableLink {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  color: #0e2a30;
  font-family: 'TWK700';
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  overflow: hidden;
  position: relative;
  transition: transform 300ms ease-in-out;
  text-decoration: none;
}

@media screen and (max-width: 910px) {
  .availableLink {
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    padding: 20px 30px;
  }
}

.hoverImage {
  display: none;
}

.availableLinkWrap {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
}

.availableLink {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  color: #0e2a30;
  font-family: 'TWK700';
  font-size: 25px;
  font-weight: 700;
  position: relative;
  transition: transform 300ms ease-in-out;
  text-decoration: none;
  overflow: hidden;
}

.availableLinkHoverText,
.availableLinkText {
  position: absolute;
  left: 35px;
  top: 0;
  width: 100%;
  transition: transform 500ms cubic-bezier(0.68, -0.75, 0.32, 1.75);
}

.availableLinkHoverText {
  transform: translateY(150%);
}

.availableLink:hover .availableLinkHoverText {
  transform: translateY(0);
}
.hoverImage {
  display: none;
}

.availableLink:hover .hoverImage {
  display: block;
}
.availableLink:hover .mainImage {
  display: none;
}

.availableLink:hover .availableLinkText {
  transform: translateY(-150%);
}

.availableLinkText {
  transform: translateY(0);
}

.availableLink:not(:hover) .availableLinkHoverText {
  transform: translateY(150%);
}

@keyframes bounceOut {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(150%);
  }
}

@keyframes bounceIn {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0%);
  }
}
.availableImg {
  margin-right: 10px;
  display: block;
  width: 30px;
  height: 30px;
}
.pink {
  color: #f948b4;
}
.green {
  color: #00c82f;
}
.orange {
  color: #fc5d1f;
}

.violetBorder {
  border-radius: 12px;
  border: 2px solid #4c01d5;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  transition: all 200ms ease-in-out;
}
@media screen and (min-width: 910px) {
  .violetBorder {
    max-width: 246px;
    width: 100%;
  }
}
.violetBorder:hover {
  background: #4c01d5;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
}

.greenBorder {
  border-radius: 12px;
  border: 2px solid #00c82f;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);

  position: relative;
  transition: all 200ms ease-in-out;
}

@media screen and (min-width: 910px) {
  .greenBorder {
    max-width: 255px;
    width: 100%;
  }
}

.greenBorder:hover {
  background: #00c82f;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
}
.greenBorder:hover span {
  color: #fff;
}

.orangeBorder {
  border-radius: 12px;
  border: 2px solid #fc5d1f;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  transition: all 200ms ease-in-out;
}
@media screen and (min-width: 910px) {
  .orangeBorder {
    max-width: 300px;
    width: 100%;
  }
}

.orangeBorder:hover {
  background: #fc5d1f;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
}
.orangeBorder:hover span {
  color: #fff;
}
