.priceContent {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.priceWrap {
  display: flex;
}

.mainPrice {
  color: #161616;
  font-family: 'TWK700';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .mainPrice {
    font-size: 25.162px;
  }
}
.oldPrice {
  color: rgba(22, 22, 22, 0.25);
  font-family: 'TWK700';
  font-size: 18px;
  position: relative;
  height: fit-content;
}

@media screen and (max-width: 768px) {
  .oldPrice {
    font-size: 14px;
  }
}

.oldPrice::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #c5c5c5;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.savingsPrice {
  display: inline-flex;
  border-radius: 100px;
  background: rgba(162, 236, 0, 0.25);
  padding: 3px 5px;
  color: #00c82f;
  font-family: 'TWK700';
  font-size: 18px;
  line-height: 1.21;
}

@media screen and (max-width: 768px) {
  .savingsPrice {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
  }
}
.savings {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .savings {
    color: #161616;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
  }
}
