.heroHome {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.heroHome::after {
  content: '';
  position: absolute;
  left: 64%;
  top: -41px;
  width: 555px;
  height: 599px;
  background-image: url('../../icons/galaxy-empty.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.heroHome::before {
  content: '';
  position: absolute;
  left: 64%;
  top: -32px;
  width: 555px;
  height: 599px;
  background-image: url('../../icons/galaxy-stars.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  animation: rotateStars 60s linear infinite;
}

@keyframes rotateStars {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .heroHome::after {
    content: '';
    position: absolute;
    right: -62px;
    bottom: 36px;
    top: unset;
    left: unset;
    width: 373px;
    height: 332px;
    background-image: url('../../icons/galaxy-empty.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
}

@media screen and (max-width: 768px) {
  .heroHome::before {
    content: '';
    position: absolute;
    right: -62px;
    bottom: 36px;
    top: unset;
    left: unset;
    width: 373px;
    height: 332px;
    background-image: url('../../icons/galaxy-stars.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
}

.heroContent {
  max-width: 1180px;
  padding: 90px 40px 140px 40px;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .heroContent {
    padding: 0px;
  }
}

@media screen and (max-width: 768px) {
  .heroHome {
    padding: 25px 20px 400px 20px;
  }
}
.heroWrap {
  max-width: 586px;
  margin-right: auto;
}
.heroTitle {
  color: #161616;
  font-family: 'TWK700';
  font-size: 60px;
  font-style: normal;
  line-height: 1.2;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .heroTitle {
    font-size: 35px;
  }
}
.heroSubTitle {
  color: #f948b4;
}
.heroText {
  color: #161616;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 25px;
}
.heroLink {
  display: inline-flex;
  color: #fff;
  font-family: 'TWK700';
  font-size: 25px;
  line-height: 1.2;
  padding: 20px 30px;
  border-radius: 12px;
  background: #f948b4;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  transition: all 200ms ease-in-out;
}
.heroLink {
  display: inline-flex;
  color: #fff;
  font-family: 'TWK700';
  font-size: 25px;
  line-height: 1.2;
  padding: 20px 30px;
  border-radius: 12px;
  background: #f948b4;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden; /* Чтобы скрыть выходящие за пределы элементы */
  transition: background 200ms ease-in-out;
}

.heroLink::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Изначально скрыто за пределами кнопки слева */
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  transition: transform 0.3s ease; /* Анимация перемещения */
  transform: translateX(0); /* Начальная позиция для плавного выхода */
}

.heroLink:hover::before {
  transform: translateX(100%); /* При ховере фон перемещается к центру */
}

.heroLink::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* Улетает вправо при снятии курсора */
}

.heroLink:hover::after {
  transform: translateX(0); /* При ховере фоновый элемент появляется в центре */
}

@media screen and (max-width: 768px) {
  .heroLink {
    padding: 15px 43px;
  }
}

@media screen and (max-width: 500px) {
  .heroLink {
    width: 100%;
    justify-content: center;
  }
}
