.checkoutButton {
  padding: 20px;
  color: #fff;
  font-family: 'TWK600';
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  border-radius: 12px;
  background: #00c82f;
  box-shadow: 0px 1px 2px 0px rgba(139, 139, 139, 0.25);
  margin-bottom: 5px;
  position: relative;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .checkoutButton {
    padding: 20px 10px;
  }
}

.checkoutButton[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}

.checkoutButton .checkoutButtonText {
  position: relative;
}

.checkoutButton .checkoutButtonText::after {
  content: '';
  width: 16px;
  height: 20px;
  display: block;
  position: absolute;
  top: 50%;
  left: -22px;
  background-image: url('../../icons/checkout.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.loader {
  width: 24px;
  height: 24px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  flex-shrink: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
