.termsWrap {
  max-width: 1180px;
  padding: 50px 40px;
  display: block;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .termsWrap {
    padding: 25px 20px;
  }
}
.termsTitle {
  color: #161616;
  font-family: 'TWK600';
  font-size: 45px;
  line-height: 1.25;
  margin-bottom: 15px;
}
.subTitle {
  color: #161616;
  font-family: 'TWK600';
  font-size: 25px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 15px;
}
.termsData {
  color: #161616;
  font-family: 'TWK600';
  font-size: 18px;
  line-height: 1.25;
  margin-bottom: 15px;
}

.subLastList {
  margin-bottom: 0 !important;
}
.subMiniTitle {
  color: #161616;
  font-family: 'TWK600';
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 10px;
}
.termsWrap p {
  margin-bottom: 15px;
}
.termsWrap ul {
  margin-bottom: 15px;
}
