.buyLikes {
  max-width: 490px;
  padding: 25px 20px 0px 20px;
  margin: 0 auto;
}

.buyLikesTitle {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  flex-wrap: wrap;
  color: #161616;
  text-align: center;
  font-family: 'TWK700';
  font-size: 45px;
  line-height: 1.25;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .buyLikesTitle {
    font-size: 35px;
  }
}
.buyLikesImg {
  display: block;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .buyLikesImg {
    width: 40px;
    height: 40px;
  }
}
.buyLikesText {
  text-align: center;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .buyLikesText {
    margin-bottom: 20px;
  }
}
.buyLikesBenefits {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .buyLikesBenefits {
    max-width: 355px;
    margin: 0 auto;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.buyLikesBenefit {
  color: #161616;
  font-family: 'TWK500';
  font-size: 13px;
  font-weight: 500;
  padding-left: 15px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .buyLikesBenefit {
    color: #0e2a30;
    font-size: 10px;
    line-height: 1;
    padding-left: 11px;
  }
}

.buyLikesBenefit::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 10px;
  height: 10px;
  background-image: url('../../icons/checkbox.svg');
  background-position: center;
}
@media screen and (max-width: 768px) {
  .buyLikesBenefit::before {
    color: #0e2a30;
    width: 8px;
    height: 8px;
  }
}
.deliveryBlock {
}
.passwordBlock {
}
.buyLikesCustomWrap {
  display: flex;
}
.buyLikesCustomLink {
  display: inline-flex;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 100px;
  border: 2px solid #4c01d5;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  color: #4c01d5;
  font-family: 'TWK500';
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .buyLikesCustomLink {
    padding: 9px 10px;
    color: #4c01d5;
    margin-bottom: 13px;
  }
}

.buyLikesQuantityBlock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 17px;
  margin-bottom: 25px;
}
.buyLikesQuantity {
  display: block;
  width: 100%;
  cursor: pointer;
}
.quantity {
  width: 100%;
  padding: 10px 0px;
  border-radius: 15px 15px 0px 0px;
  background: #decdff;
  text-align: center;
  color: #4c01d5;
  font-family: 'TWK700';
  font-size: 25px;
  line-height: 1.25;
}

@media screen and (max-width: 768px) {
  .quantity {
    color: #4c01d5;
    padding: 8px 0px;
    font-size: 20px;
    line-height: 1.25;
  }
}
.discount {
  width: 100%;
  padding: 14px 0px;
  border-radius: 0px 0px 15px 15px;
  background: #fafbff;
  text-align: center;
  color: #4c01d5;

  font-family: 'TWK500';
  font-size: 18px;
  line-height: 1.25;
}

@media screen and (max-width: 768px) {
  .discount {
    font-size: 14px;
  }
}
.data {
  display: flex;
  max-width: 100px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: #fafbff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
}
.active .buyLikesQuantity {
  outline: 2px solid #4c01d5;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.active .buyLikesQuantity .quantity {
  outline: 2px solid #4c01d5;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  background-color: #4c01d5;
  color: #fff;
  font-family: 'TWK700';
  font-size: 25px;
  line-height: 1.25;
}

@media screen and (max-width: 768px) {
  .active .buyLikesQuantity .quantity {
    font-size: 20px;
  }
}
.active .buyLikesQuantity .discount {
  color: #161616;
  font-family: 'TWK500';
  font-size: 18px;
  line-height: 1.21;
}

@media screen and (max-width: 768px) {
  .active .buyLikesQuantity .discount {
    font-size: 14px;
  }
}
.priceBlock {
  display: flex;
  justify-content: space-between;
}

.buyLink {
  padding: 20px 60px;
  border-radius: 12px;
  background: #f948b4;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: 'TWK700';
  font-size: 25px;
  line-height: 1.21;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .buyLink {
    padding: 16px 45px;
    font-size: 20px;
    text-align: center;
  }
}

.linkText {
  z-index: 1;
  color: #fff;
  font-family: 'TWK700';
  font-size: 25px;
  font-weight: 700;
  line-height: 1.25;
}

.decor {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.decorItem {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  transform: translate(-100%);
  will-change: transform;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
